.dashboard-chore {
    display: flex;
    flex-direction: column;
    row-gap: 0.6em;
    border: 1px solid lightgrey;
    background-color: white;    
    border-radius: 10px;
    padding-bottom: 1.5em;
    padding-left: 5em;
    padding-right: 5em;
    grid-area: chore;
    & .dashboard-chore-title {
        font-size: 1.5em;
        padding-top: 0.7em;
    }
        & .dashboard-chore-card{
            padding: 1em;
            display: flex;
            align-items: center;
            //background-color: #f1f1ed;
            border: 1px solid lightgrey;
            background-color: rgb(210 227 242 / 25%);
            border-radius: 10px;
            column-gap: 1em;
            & div {
                width: 100%;
            }
        }


}