$btnColor: rgb(42, 73, 156);

.allowance-button{    
    border: px solid black;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: $btnColor;
    color: white;

    transition: 220ms all ease-in-out;

    &:hover {
        background-color: scale-color($btnColor, $lightness: -20%);
      }
}