$allowanceBtnColor: rgb(47, 59, 77);
$greenButton: rgb(39, 95, 88);

.green-button {
    border-radius: 5px;
    border: 1px solid $greenButton;
    background: $greenButton;
    color: white;    
    padding: 0.5em 1.5em;
    width: 100%;

    &:hover {
        cursor: pointer;
        transform: scale(1.10)  
    }
}
.white-button {
    border-radius: 5px;
    border: 1px solid $greenButton;
    background: white;
    color: rgb(7,10,10,1);
    font-weight: bold;
    padding: 0.5em 1.5em;
    margin-top: 0.5em;

    &:hover {
        cursor: pointer;
        transform: scale(1.10)  
    }
}