.money {
    display: flex;
    flex-direction: column;
    align-items: center;
    //margin-top: 2em;

    & [class*="money-"] {
        width:60%;
    }
}

@media(max-width: 650px) {
    .money {
        & [class*="money-"] {

            width:90%;
        }
    }
}