:root {
    --color-button: rgb(39, 95, 88);
    --hover-brightness: 1.2;
}
.money {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f6;
    overflow-y: auto;
    scrollbar-gutter: stable;

    hr {
        border: 1px solid #087f6b;
        width: 96%;
        color: #087f6b;
    }
        
    #line {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        width: 100%;
    }

    & .money-title {
        text-align: center;
        padding-top: 0.5em;
    }

    & .money-bank {
        margin-bottom: 2em;
    }

    & [class*="money-"] {
        width: 70%;
    }
}
@media(max-width: 650px) {
    .money {
        & [class*="money-"] {
            width:90%;

        }
    }
}
