.calendar-container {
    grid-area: calendar;
    margin: 0em !important;
    background-color: rgb(216, 232, 229);
    border-radius: 10px;
    border: 2px solid green;
    
    .rdp-day_selected {
        background-color: #f8c348;
    }

}