:root {
    --color-logout: rgb(39, 95, 88);
    --hover-brightness: 1.2;
}
.welcome {    
    background-color: rgb(216, 232, 229);
    grid-area: navigation;
    //padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    //min-width: 150%;
    & .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5.5em;        
        & .about {
            display: flex;
            flex-direction: column;
            & .profile-image {
                height: 48px;
                width: 48px;
            }
            & > div {                
                padding: 1em;
                display: flex;
                flex-direction: row;
                gap: 1.5em;
                align-items: center;
                color: rgb(28 52 49);
                //background-color: lightgrey;

                & .icon {
                    font-size: 2em;
                }

                & .about-title {
                    font-size:larger;
                }

                & .about-blurb {
                    padding-top: 0.5em;
                    //font-size: smaller
                    font-size: 1.1em;
                }


            }

        }
    }
}

@media(max-width: 650px) {
    .welcome {
        font-size: smaller;
    }
}