:root {
    --color-logout: rgb(39, 95, 88);
    --hover-brightness: 1.2;
}
.welcome {
    //border: 1px solid #bacdd8;
    // border-bottom-left-radius: 12px;
    // border-top-left-radius: 12px;
    background-color: rgb(216, 232, 229);
    grid-area: navigation;
    padding: 0.5em;

    & .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3.5em;
        //border: 1px dashed green;

        // & .money {
        //     border: 1px solid black;
        // }
        & .about {
            display: flex;
            flex-direction: column;
            //gap: 1em;
            //border: 1px dotted red;
            //align-self: stretch;

            & > div {
                // border: 1px solid rgb(28 52 49);
                // border-radius: 5px;
                padding: 1em;
                display: flex;
                flex-direction: row;
                gap: 1.5em;
                align-items: center;
                color: rgb(28 52 49);
                //background-color: lightgrey;

                & .icon {
                    font-size: 2em;
                }

                & .about-title {
                    font-size:larger;
                }

                & .about-blurb {
                    padding-top: 0.5em;
                    font-size: smaller
                }

            }

        }
    }
}