    .allowance-button {
            min-width: 7em;
            padding: 0.5em 1em;
            border: 1px solid #ccc;
            border-radius: 5px;
            color: black;
            &:hover {
                cursor: pointer;
                outline: 5px solid lightgrey;
                transition: outline 0.1s ease-in-out;
            }
            &:focus {
                outline: 2px solid lightgray;
                outline-offset: 2px;
            }
    }
.swal2-icon.allowance  {
    margin-top: 1em;
}
.swal2-title.allowance {
    padding-top: 0em;
}
.swal2-popup.allowance {
    width: 26em;
}

.allowance {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    width: 75%;
    
    .allowance-title {
        //border: 1px solid green;
        margin-top: 5px;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
    }
    .allowance-table {    
        margin: 15px;
        font-size: 0.9em;
        border-collapse: collapse;
        // font-family: sans-serif;
        //box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);    
        width: 100%;
        // background-color: white;
        border: solid 1px #bacdd8;
        // border-radius: 5px;
        
        .allowance-head {
            //border: 2px dashed red;
            background-color: #087f6b;
            color: #ffffff;
            text-align: left;
            font-size:larger;
        }
        tr th {
            padding: 8px;        
        }
        
        // tbody tr:hover {background-color: rgb(243, 243, 243);}

        tr td {
            padding: 8px;
            padding-top:12px;
            padding-bottom:12px;
    
        }    
        tr {
            border-bottom: 1px solid #bacdd8;
            height: 3.5em;
        }
    }
}
