.allowance-button {
            min-width: 7em;
            padding: 0.5em 1em;
            border: 1px solid #ccc;
            border-radius: 5px;
            color: black;
            &:hover {
                cursor: pointer;
                outline: 5px solid lightgrey;
                transition: outline 0.1s ease-in-out;
            }
            &:focus {
                outline: 2px solid lightgray;
                outline-offset: 2px;
            }
}
.swal2-container {
    .swal2-icon.allowance  {
        margin-top: 1em;
    }
    .swal2-title.allowance {
        padding-top: 0em;
    }
    .swal2-popup.allowance {
        width: 24em;
    }
}

.allowance-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    
    .allowance-title {
        margin-top: 5px;
        font-size: 1.2em;
        text-align: center;
    }
    .allowance-table {    
        margin: 0.5em;
        font-size: 0.9em;
        border-collapse: collapse;
        width: 100%;
        border: solid 1px #bacdd8;
        
        .allowance-head {
            background-color: #087f6b;
            color: #ffffff;
            text-align: left;
            font-size:larger;
        }
        tr th {
            padding: 8px;        
        }
        
        tr td {
            padding: 8px;
            padding-top:12px;
            padding-bottom:12px;
    
        }    
        tr {
            border-bottom: 1px solid #bacdd8;
            height: 3em;
        }
    }
}