$greenButton: rgb(39, 95, 88);
.bucket-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;    
    padding: 8px;    
    border-radius: 12px;
    margin: auto;    
    align-items: center;
    margin-bottom: 1.5em;
    label {
        width: 200px;
        display: inline-block;
    }

    .bucket-title {
        margin-top: 5px;
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 15px;            
    }

    .small-bucket {
        display: flex;
        // flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.0em;

        & .spend-total {
            text-align: center;
        }
        & .spend-title {
            text-align: center;
        }
    
        .bucket {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 8em;
            padding: 0.25em;
            padding-bottom: 0.5em;
            border: 2px solid rgb(217 238 230);
            background-color: hsl(174deg 44% 96%);
            border-radius: 5px;            
            gap: 0.5em;

            .buttons {
                display: flex;
                flex-direction: row;
                gap: 1em;
                align-items: center;
                justify-content: center;
                // .icon-center: {
                //     text-align: center;
                // }

                .deposit-button {
                    height: 40px;
                    width: 40px;
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
                    background-color: #54a58d;
                    border: 1px solid #54a58d;
                    cursor: pointer;  
                    border-radius: 50%;
                    color: white;
                    transition: background-color 1s;
                    &:hover {                        
                        //background-color: rgb(39, 95, 88);
                        //border: rgb(39, 95, 88);
                        // outline: 6px solid rgb(50 220 161 / 60%);
                        outline: 4px solid rgb(39, 95, 88, 0.87);
                        transition: outline 0.2s ease-in-out;

                    }
                    &:focus {
                        outline: 2px solid rgb(39, 95, 88, 0.87);
                        outline-offset: 2px;
                    }
                }
            }
        }
    }
}

//Hide scrolling on number input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
