.dashboard-money {
    border: #dee0e2 1px solid;
    border-radius: 5px;
    grid-area: money;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1.0em 0.5em;

    & .next-allowance-date {
        display: flex;
        flex-wrap: wrap;
        font-size: larger;
        gap: 0.25em;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .allowance-circles {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }
    .res-circle {
        //width: 20%;
         width: 90px;
         height: 90px;
        border-radius: 50%;
        background-color: #bcd6ff;
        //line-height: 0;
        position:relative;
    }
    .res-circle::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .circle-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        //position: absolute;
        bottom: 50%;
        width: 100%;
        padding-top: 1.85em;
    }
    & .saving-for {
        padding-top: 1em;
        font-size: larger;
        display: flex;
        align-items: flex-start;
        column-gap: 1em;
        & .saving-for-text {
            padding-top: 0.1em;
        }
    }
}
@media(max-width: 900px) {
    .allowance-circles {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        gap: 1em;
    }
}