.dashboard-money {
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: white;    
    grid-area: money;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1.0em 0.5em;

    & .next-allowance-date {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.4em;
        @media(max-width: 395px) {
            font-size: 1.2em;
        }
        gap: 0.25em;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .allowance-circles {
        display: flex;        
        flex-wrap:nowrap;
        gap: 1em;
        @media(max-width: 395px) {
            display: flex;
            flex-direction: row;            
            align-items: center;
            justify-content: space-around;
            gap: 0.2em;
        }
    }
    .res-circle {        
         width: 70px;
         height: 70px;
        border-radius: 50%;
        // background-color: #f1f1ed;        
        //background-color: rgb(192 203 255 / 25%);
        background-color: rgb(210 227 242 / 25%);
        border: 1px solid lightgrey;
        position:relative;
        @media(max-width: 395px) {
            width: 65px;
            height: 65px;
        }
    }
    .res-circle::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .circle-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;        
        bottom: 50%;
        width: 100%;
        padding-top: 0.8em;
        row-gap: 0.3em;
    }
    & .saving-for {
        margin-top: 1em;
        padding: 1em;
        font-size: larger;
        display: flex;
        align-items: flex-start;
        column-gap: 1em;
        width: 80%;
        & .saving-for-text {
            width: 100%;
            font-size: 0.9em;
            display: flex;
            flex-wrap: wrap;
            border: 1px solid lightgrey;
            background-color: rgb(210 227 242 / 25%);
            border-radius: 10px;
            padding: 10px;
        }
    }
}