html, body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}
button {
  /* font-family: 'Josefin Sans', sans-serif; */
  letter-spacing: 0.1em;
}

.application {  
  
  /* height: 100vh; */
  display: grid;
  /* grid-template-columns: 150px 1fr; */
  grid-template-columns: 0.75fr 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 
    "navigation header"
    "navigation main";

    /* display: flex;
    flex-direction: column; */
    margin: 4em;
    /* margin: 0;
    margin-top: 1em; */
    background-color: white;
    border: 1px solid #bacdd8;
    /* border-radius: 12px; */
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;


}

/* @media(max-width: 1200px) {
  body {
    width: 80%;
  }
}
@media(min-width: 1201px) {
  body {
      width: 100%;
  }
} */
