#react-root {
  display: grid;
  height: 100vh;
}
html, body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}
button {  
  letter-spacing: 0.1em;
}

[class*="swal2-"]{
  font-family: 'Josefin Sans', sans-serif;
}

.swal2-title {
  font-size: 1.25em !important;
}
.swal2-icon {
  border: none !important;
}

textarea {
  resize: none;
}

.application {  
  background-color: #f9f9f6;
  display: grid;

  @media (max-width: 650px) {    
    grid-template-areas: 
    "header"
    "main";
    grid-template-rows: 4em 1fr;
    & .navigation {
      display: none;
    }
    & .welcome {
      display:none;
    }
    & .header {
      background-color: rgb(216, 232, 229);
      padding-top: 10px;
      padding-bottom: 10px;
      //height: 30px;
    }    
    & .right-border{
      display: none;
    }
  }
  @media (min-width: 651px) {
  // and (max-width: 1625px) {
    grid-template-columns: minmax(auto, 20%) 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
      "navigation header"
      "navigation main";
      & .right-border {
        display: none;
      }
      & .button-container.not-active {
        display: none;
      }
  }
  // @media (min-width: 1626px){
  //   grid-template-columns: minmax(auto, 20%) 1fr minmax(auto, 20%);
  //   grid-template-rows: 80px 1fr;
  //   grid-template-areas: 
  //     "navigation header right-border"
  //     "navigation main right-border";
  //       & .button-container.not-active {
  //         display: none;
  //       }    
  // }
}

.button-container {
  //position: fixed;
  background-color:  rgb(216, 232, 229);
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 101;
  transition: opacity .25s ease;
  border:none;
  &.active {
    background-color: #f9f9f6;
  }
}
.button-container:hover {
  opacity: .8;
}
.button-container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: rgb(71, 96, 155);
  
}
.button-container.active .middle {
  opacity: 0;
  background: rgb(71, 96, 155);
}
.button-container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: rgb(71, 96, 155);
}
.button-container span {
  //background: #087f6b;
  background: rgb(51, 77, 92);
  border: none;
  height: 5px;
  //width: 100%;
  width: 30px;
  margin-left: 1em;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}
.button-container span:nth-of-type(1) {
  top: 10px;
}
.button-container span:nth-of-type(2) {
   top: 21px;  
}
.button-container span:nth-of-type(3) {
  top: 32px;
}

.overlay {
  position: fixed;
  background: #f9f9f6;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 100;
}
.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.overlay div {
  position: relative;
  height: 55%;
  top: 30%;
  transform: translateY(-50%);
  font-size: 1.15em;
  font-family:inherit;
  font-weight: 400;
  text-align: center;
  & a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: underline wavy #f8c348 0.15rem;
      text-underline-offset: 0.5rem;
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}