/* html,
body,
#react-root {
  height: 100%;
  background-color: rgb(222, 235, 249);
} */

.application {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 
    "navigation header"
    "navigation main";
}
