#react-root {
  display: grid;
  height: 100vh;
}
html, body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}
button {  
  letter-spacing: 0.1em;
}

[class*="swal2-"]{
  font-family: 'Josefin Sans', sans-serif;
}

.swal2-title {
  font-size: 1.25em !important;
}

.application {  
  background-color: #f9f9f6;
  display: grid;
  grid-template-rows: 80px 1fr;

  @media (max-width: 650px) {    
    grid-template-areas: 
    "header"
    "main";
    & .navigation {
      display: none;
    }
    & .welcome {
      display:none;
    }
    & .header {
      background-color: rgb(216, 232, 229);
      padding-top: 0.7em;
      max-height: 80px;
    }    
    & .right-border{
      display: none;
    }
  }
  @media (min-width: 651px) and (max-width: 1625px) {
    grid-template-columns: minmax(auto, 30%) 1fr;
    &.logged-in {
      grid-template-columns: minmax(auto, 20%) 1fr;
    }    
    grid-template-areas: 
      "navigation header"
      "navigation main";
      & .right-border {
        display: none;
      }
      & .button-container.not-active {
        display: none;
      }
  }
  @media (min-width: 1626px){
    grid-template-columns: minmax(auto, 30%) 1fr minmax(auto, 30%);
    &.logged-in {
      grid-template-columns: minmax(auto, 20%) 1fr minmax(auto, 20%);
    }
    
    grid-template-areas: 
      "navigation header right-border"
      "navigation main right-border";
        & .button-container.not-active {
          display: none;
        }    
  }
}