html, body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}
button {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.1em;
}

.application {  
  height: 100vh;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 
    "navigation header"
    "navigation main";
}

@media(max-width: 1200px) {
  body {
    width: 80%;
    align-items: center;
  }
}
@media(min-width: 1201px) {
  body {
      width: 100%;
  }
}
