html, body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}
button {
  /* font-family: 'Josefin Sans', sans-serif; */
  letter-spacing: 0.1em;
}

.application {  
  
  height: 100vh;
  display: grid;
  // grid-template-columns: 150px 1fr;
  /* grid-template-columns: 0.75fr 1fr; */
  grid-template-rows: 80px 1fr;
  grid-template-areas: 
    "navigation header"
    "navigation main";
    /* margin: 4em;
    background-color: white;
    border: 1px solid #bacdd8;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px; */

  &.large {
    grid-template-columns: 0.75fr 1fr;
  }
  &.small {
    grid-template-columns: 0.25fr 1fr;
  }
}