* {
    margin: 0;
}
    .login-title {
        font-size: 2em;
        padding-bottom: 0.5em; 
    }

.login-form {
    display: flex;
    flex-direction: row;
    padding: 1em;
}
.form-row {
    padding-bottom: 0.5em;
}

input {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 0.25em;
    font-size: 16px;
}
.input-group {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    //border: 1px solid red;
    margin-bottom: 0.5em;
    gap: 0.25em;
}

.not-registered {
    padding-top: 1.5em;
}