* {
    margin: 0;
}
    .login-title {
        font-size: 2em;
        padding-bottom: 0.5em; 
    }

.login-form {
    display: flex;
    flex-direction: row;
    padding: 1em;
}
.form-row {
    //border: 1px dotted blue;
    //gap: 3em;
    //flex: 1;
    padding-bottom: 0.5em;
}

input {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 0.25em;
}
.input-group {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    //border: 1px solid red;
    margin-bottom: 0.5em;
    gap: 0.25em;
}


//   @media(min-width: 800px) {
//     body {
//         width: 40%;
//     }
//  }
//  @media (min-width: 600px) {
//     body {
//     width: 50%;
//     }
//   }