.login-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 60%;
    > div {
        width: 60%;
    }
    margin-top: 2em;
    padding-bottom: 2em;

    .login-title {
        font-size: 2em;
    }

    .form-wrapper {
        background-color: whitesmoke;
        list-style-type: none;
        padding: 0;
        border-radius: 3px;

        & .form-row {
            display: flex;
            justify-content: flex-end;
            padding: .5em;
        }

        & .form-row > label {
            padding: .5em 1em .5em 0;
            flex: 1;
          }
        &  .form-row > input {
            flex: 2;
          }
    }
}