:root {
    --color-logout: rgb(39, 95, 88);
    --hover-brightness: 1.2;
}
$greenButton: rgb(39, 95, 88);
.navigation {
    background-color: rgb(229 239 237);
    grid-area: navigation;
    padding: 0.5em;
    & .nav-greeting {
        text-align: left;
        font-size: 1.5em;
        padding: 2em;
        word-spacing: 0.5em;
        font-weight:100;
    }
    & .main-links {
        display: flex;
        flex-direction: column;        
        white-space: nowrap;
        align-items: center;
        
        & .logo {
            margin-top: 1em;
            margin-bottom: 2em;            
        }
        & .action-links{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;                
                & .active {
                    border-radius: 5px;            
                    border: 2px solid $greenButton;
                    padding: 10px;
            }
            & div {
                padding: 1em;
            }

            & [class*="nav-option"]:hover {
                background-color: #54a58dab;
                border-radius: 5px;
                padding:10px;
                transition: background-color 0.2s ease-in-out;            
            }
            & [class*="nav-option"]:focus {
                border-radius: 5px;            
                border: 2px solid $greenButton;
                padding: 10px;
            }
        }

         a {
             position: relative;
             color: #000;             
             text-decoration: none;
          }

        & .nav-logout {
            border-radius: 5px;
            border: 1px solid $greenButton;
            background-color: $greenButton;
            color: white;
            margin-top: 3.5em;
            padding: 0.5em 1.5em;
            //transition: background-color 0.75s;  
            &:hover {
                cursor: pointer;
                outline: 5px solid #54a58d;
                border: 1px solid #54a58d;
                transition: outline 0.2s ease-in-out;
            }
            &:focus {
                outline: 2px solid $greenButton;
                outline-offset: 2px;
            }             
        }
    }
}
