.pie {
    display: flex;
    flex-direction: column;
    align-items: center;
    //padding-bottom: 2em;

    & .VictoryContainer {
        width: 40% !important;
        

        & svg {
            overflow: visible;
        }
    }
}
.chart-title {    
    margin-bottom: 1em;
    font-size: 1.2em;
    font-weight: bold;
}