.pie {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;

    & .VictoryContainer {
        width: 55% !important;        
        & svg {
            overflow: visible;
        }
    }
}
.chart-title {        
    font-size: 1.2em;    
}