$greenButton: rgb(39, 95, 88);
.header-container {
    display: flex;
    align-items: center;    
    justify-content: space-between;    
    @media(min-width: 650px) {          
      display: block;
    }
    & img {
        max-width: 100%;
        height: 38px;
        width: 38px;
      }
    & .header-info {
      display:flex;
      align-items: center;
      justify-content: right;
        & button {
          display: flex;
          align-items: center;
          column-gap: 0.5em;
          margin-right: 2em;
          border: 1px solid lightgray;
          padding: 0.3em;
          border-radius: 15px;
          background-color: white;
            &:hover {
              cursor: pointer;
              outline: 3px solid $greenButton;
              outline-offset: 0.1em;
            }
            // &:focus{
            //   outline: 2px dotted $greenButton;
            //   outline-offset: 3px;
            // } 
          @media(max-width: 649px) {
            margin-right: 1em;
          }
      @media(max-width: 649px) {          
       display: flex;
       width: 100%;
      }
      @media(max-width:450px) {        
        justify-content: right;
        & .profile-image {
          display: none;
        }  
      }
      }
      & .week-info{
        font-size: 1.2em;
        padding-left: 2em;
        @media(max-width: 649px) {
          padding:0;
        }
      }
    }

      @media(min-width: 650px) {
        padding-top: 1em;
        img {
            &.logo {
              display:none;
            }            
        }
      }
      @media(max-width: 649px) {
        font-size: 0.85em;
      }
      
  }

  @media(min-width: 651px) {
    .menu-icon {
        visibility: hidden;
    }
   
}