$greenButton: rgb(39, 95, 88);
.header {
  position: relative;
}
.header-container {
    display: flex;
    align-items: center;    
    justify-content: space-between;    
    @media(min-width: 651px) {          
      display: block;
    }
    & img {
        max-width: 100%;
        height: 40px;
        width: 40px;
      }
    & .header-info {
      display:flex;
      align-items: center;
      justify-content: space-between;
        @media(max-width: 650px) {
          width: 100%;
          margin-left: 1.5em;
        }
        & img {
          width: 40px;
          height: 40px;
        }
        & button {
          display: flex;
          margin-right: 3em;
          background: inherit;
          border-radius: 50%;
          justify-content: space-between;
          align-items: center;
          padding: 5px 7px;
          border: none;
          column-gap: 0.5em;
            &:hover {
              cursor: pointer;
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
              transition: box-shadow 0.2s ease-in-out;
            }
            &:active {
              outline: 1px solid $greenButton;
            }

          @media(max-width: 650px) {          
          display: flex;
          margin-right: 1em;
          }  
      }
      & .week-info{
        font-size: 1.1em;
        padding-left: 2em;
        @media(max-width: 650px) {
          padding:0;
        }
      }
      & .username {
        color: #000;             
        text-decoration: none;
      }
    }
      @media(min-width: 651px) {
        padding-top: 1em;
        img {
            &.logo {
              display:none;
            }            
        }
      }
      @media(max-width: 650px) {
        font-size: 0.85em;
      }
      
  }
  @media(min-width: 651px) {
    .menu-icon {
        visibility: hidden;
    }
   
}