.header-container {
    display: flex;
    align-items: center;
    justify-content: right;
    @media(max-width: 649px) {
      height: 100%;
    }
   
    //justify-content: space-evenly;
    flex-wrap:wrap;
    & img {
        max-width: 100%
      }
      
    & .welcome-text {
        display: flex;
        flex-wrap:wrap;
        font-size: 1.2em;
        padding-right: 20px;
      }

      @media(min-width: 650px) {
        padding-top: 1.5em;
        img {
            // 
            display:none;
        }
      }
      @media(max-width: 651px) {
        justify-content:space-between;
        padding-left: 1em;
        padding-right: 1em;
      }
  }

  @media(min-width: 651px) {
    .menu-icon {
        visibility: hidden;
    }
   
}