.money-pie {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .VictoryContainer {
        width: 50% !important;
    }
}
.chart-title {
    margin-top: 5px;
    font-size: 1.2em;
    font-weight: bold;
}