.modal-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(248, 247, 247, 0.8);
  z-index:1000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  .modal {
    width: 40%; 
    @media(max-width: 525px) {
      width: 75%;
    }
    background: white;
    border: 1px solid rgb(187, 186, 186);
    border-radius: 12px;
    //transition: all 150ms ease-in-out;
    transition: opacity 3s ease-in-out;
    box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
    // filter: blur(0);
    transform: scale(1);
    opacity: 1;
    visibility: visible;

    /* To make the modal window center */
    position: fixed;
    left: 50%;
    top: 40%;
    @media(max-width: 525px) {
      top: 50%;
    }
    transform: translate(-50%, -50%);

    & .modal-header {
      display: flex;
      justify-content: space-between;      
      padding: 1em;
      & .modal-title {
        display: flex;
        justify-content: center;
        font-size: 1.8em;
        width: 100%;  
      }
      & button {
        display: flex;
        background-color: inherit;
        border: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
    & .add-chore-btn {
      color: rgb(104, 117, 217);
      background-color: white;
      border: 1px solid rgb(104, 117, 217);
      box-shadow: none;
      padding: 0.75em 0.75em;
      margin: 1em;
      border-radius: 5px;
      &:hover {
        cursor: pointer;
        outline: 2px solid rgb(12 30 164 / 87%);
        transition: outline 0.1s ease-in;
      }
    }
    & .modal-body {
      display: flex;
      flex-direction: column;
      border: 1px solid lightgrey;
      
        & .modal-chore-list {
          padding-top: 0.8em;
          max-height: 20em;
          overflow-y: auto;
          margin-bottom: 1em;          
          display: flex;
          flex-direction: column;
           align-items:center;
           gap: 0.7em;
          & .modal-content {            
            background-color:white;
            padding: 1rem;
            display: flex;      
            justify-content: space-between;  
            gap: 0.5em;
            align-items: center;
            border: 1px solid lightgrey;
            border-radius: 12px;
            width: 60%;
            & button {
              border:none;
              background-color: inherit;
              color: rgb(104, 117, 217);
              text-transform: uppercase;
            }
            & .modal-chore-details {
              display: flex;
              gap: 1em;
            }
            & .chore-name {
              width: 100%;
            }
            & .chore-frequency {
              padding-top: 0.2em;
              font-size: 0.8em;              
            }
            & .modal-chore-payment {
              display: flex;
              justify-content: center;
              font-size: 0.9em;
              padding: 0.5em;
              display:flex;
              border: 1px solid rgb(104, 117, 217);
              background-color: rgb(104, 117, 217);
              color: white;
              border-radius: 50%;
              height: 1em;
              width: 1em;
            }              
          }
        }
        .modal-actions {
          display: flex;
          justify-content: center;
          border-top: 1px solid #ccc;
          background: #eeeeeeab;
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
    
          .action-buttons {
            display:flex;
            padding-top: 1em 0.5em;
            border: 0;
            border-radius: 5px; 
            font-size: 0.8rem;
            line-height: 1;
            & button {
              border-radius: 5px;
              background-color: rgb(104, 117, 217);
              border: rgb(104, 117, 217);
              color: white;
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
              padding: 0.75em 1.5em;
              margin: 1em;
              letter-spacing: 0.2em;
            
              &:hover {
                  cursor: pointer;          
                    outline: 4px solid rgb(12 30 164 / 87%);
                    transition: outline 0.1s ease-in-out;
                }
              
            } 
          }
        }
    }

}
}