.modal-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(248, 247, 247, 0.8);
  z-index:1000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  .modal {
    width: 40%;
    border-radius: 12px;
    @media(min-width: 1500px) {
      width: 30%;
    }
    @media(max-width: 1200px) {
      width: 60%;
    }
    @media(max-width: 700px) {
      width: 90%;
    }
    background: white;
    border: 1px solid rgb(187, 186, 186);
    //border-radius: 12px;    
    transition: opacity 3s ease-in-out;
    box-shadow: -2rem 2rem 2rem rgba(black, 0.2);    
    transform: scale(1);
    opacity: 1;
    visibility: visible;

    /* To make the modal window center */
    position: fixed;
    left: 50%;
    top: 40%;
    @media screen and (max-height: 800px) {
      top: 45%;
    }
    @media screen and (max-height: 700px) {
      top: 55%;
    } 
    transform: translate(-50%, -50%);

    & .modal-header {
      display: flex;      
      justify-content: center;
      padding: 0.75em 1em 0.5em;
      flex-direction: column;
      & .modal-header-container {        
        display: flex;
        width: 100%;
        justify-content: space-between;
        column-gap: 0.7em;
          & .modal-title {            
            display: flex;
            justify-content: center;
            font-size: 1.7em;
            @media(max-width: 425px) {
              font-size: 1.5em;
            }
            width: 95%;
            align-items: center;
            @media(max-width: 375px) {
              font-size: 1.5em;
            }
          }
          & .chore-btns {
            display: flex;
            column-gap: 0.5em;     
            justify-content: space-between; 
            width: 5%;
            & .manage-chore-btn {
              border-radius: 5px;
              align-items: baseline;
              padding: 0.75em 0.5em;
              border: 1px solid rgb(39, 95, 88);
              color: rgb(39, 95, 88);
              background-color: white;
              transition: background-color 0.8s;
              &:hover {
                  cursor: pointer;
                  outline: 1px solid rgb(39, 95, 88);
                  transition: outline 0.1s ease-in;
                }     
              }
              & .fa-Xmark {
                &:hover {
                  background-color: rgba(84, 165, 141, 0.3);
                  border-radius: 50%;
                  cursor: pointer;
                }        
              }  
          }          
      }
      & .manage-chore-btn-container {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 0.5em;
        margin-top: 0.5em;
        & .manage-chore-btn {
          width: 30%;
          &#cancel-edit{
            width: 40%;
            @media(max-width: 475px) {
              width: 60%;
            }
          }
          @media(max-width: 395px) {
            width: 60%;
          }
          //margin-right: 2.5em;
          border-radius: 5px;          
          padding: 0.5em 0.25em;
          margin-top: 0.5em;
          border: 1px solid rgb(39, 95, 88);
          color: rgb(39, 95, 88);
          background-color: white;
          transition: background-color 0.8s;
          &.disable {
            opacity: 0.3;
            pointer-events: none;
          }
          &:hover {
              cursor: pointer;
              outline: 3px solid #54a58d;
              border: 1px solid #54a58d;
              transition: outline 0.08s ease-in-out;
            }   
        }
      }
    }
    & .modal-body-container {
      border-radius: 5px;
      & .modal-body {
        display: flex;
        flex-direction: column;
        border-top: 1px solid lightgrey;
        padding: 0.5em;
        height: 25em;        
        @media(max-width: 395px){
          height: 28em;
        }
          & .modal-chore-list {
            overflow-y: auto;
            margin-bottom: 1em;          
            display: flex;
            flex-direction: column;
             align-items:center;
             gap: 0.7em;
             & .empty-chores {
              padding: 1em;
              display: flex;
              flex-direction: column;
              font-size: 0.8em;
              row-gap: 1em;
             }
            & .modal-content {                        
              background-color: #e9eff1;
              padding: 1rem;
              display: flex;
              // @media(max-width: 775px) {
              //   flex-wrap:wrap;   
              // }            
              justify-content: space-between;  
              gap: 0.6em;
              align-items: center;
              border: 1px solid lightgrey;
              border-radius: 12px;
              width: 80%;
              @media(max-width: 425px) {
                width: 85%;
              }
              & .edit-chore-btns {
                display: flex;
                gap: 0.8em;
                & svg {
                font-size: 1.2em;
                }
              }
              & button {
                display: flex;
                border:none;
                background-color: rgba(58, 125, 117);
                color: white;
                border-radius: 5px;
                text-transform: uppercase;
                padding: 8px;
                font-size: 0.6em;
                &:hover {
                  cursor: pointer;
                  outline: 3px solid #54a58d;
                  transition: outline 0.1s ease-in-out;
                }
              }
              & .modal-chore-details {
                display: flex;
                gap: 1em;
                @media(max-width: 425px) {
                  gap: 0.3em;
                }
                max-width: 75%;
              }
              & .chore-name {
                font-size: 0.8em;
                @media(max-width: 540px) {
                  font-size: 0.7em;
                }
                width: 100%;
              }
              & .chore-frequency {
                padding-top: 0.2em;
                font-size: 0.7em;              
              }
              & .modal-chore-payment {
                display: flex;
                justify-content: center;
                font-size: 0.9em;
                padding: 0.5em;
                display:flex;
                @media(min-width: 525px){
                  border: 1px solid rgb(39, 95, 88);
                }
                
                color: rgb(39, 95, 88);
                border-radius: 50%;
                min-height: 1.5em;
                min-width: 1.5em;
                align-items: center;
              }              
            }
          }
          .modal-actions {
            display: flex;
            justify-content: center;
            border-top: 1px solid #ccc;
            background: #eeeeeeab;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;    
            .action-buttons {
              display:flex;
              padding-top: 1em 0.5em;
              border: 0;
              border-radius: 5px; 
              font-size: 0.8rem;
              line-height: 1;
              & button {
                border-radius: 5px;
                background-color: rgb(104, 117, 217);
                border: rgb(104, 117, 217);
                color: white;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
                padding: 0.75em 1.5em;
                margin: 1em;
                letter-spacing: 0.2em;            
                &:hover {
                    cursor: pointer;          
                      outline: 4px solid rgb(12 30 164 / 87%);
                      transition: outline 0.1s ease-in-out;
                  }              
              } 
            }
          }
        }
    }
  }

}
.swal2-container {
  .swal2-icon.chore  {
      margin-top: 1em;
  }
  .swal2-title.chore {
      padding-top: 0em;
      margin-bottom: 0em;
  }
  .swal2-popup.chore {
      top: 100px;
      width: 18em;
  }
}