.modal-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(248, 247, 247, 0.8);
  //background-color: rgba(0,0,0,0.8);
  z-index:1000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  .modal {
    width: 40%; 
    background: white;
    border: 1px solid rgb(187, 186, 186);
    border-radius: 12px;
    //transition: all 150ms ease-in-out;
    transition: opacity 3s ease-in-out;
    box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
    visibility: visible;

    /* To make the modal window center */
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
            
    // h2 {
      
    //   padding: 1rem;
    //   margin: 0;
    // }
    & .modal-header {
      //border: 1px solid red;
      border-bottom: 1px solid #ccc;
      display: flex;
      justify-content: space-between;      
      padding: 1rem;      
      margin: 0;
      & .modal-title {
        font-size: 1.8em;        
      }
      & button {
        display: flex;
        background-color: inherit;
        border: none;
        &:hover {
          cursor: pointer;
        }
      }
    }

    & .modal-body {
      & .add-new-chore {
          color: rgb(104, 117, 217);
          background-color: white;
          border: 1px solid rgb(104, 117, 217);
          box-shadow: none;
          &:hover {
            outline: 2px solid rgb(12 30 164 / 87%);
            transition: outline 0.1s ease-in;
          }
      }
        .modal-content {
          padding: 1rem;
          display: flex;        
          gap: 0.5em;
          align-items: baseline;
        }
        & button {
          border-radius: 5px;
          background-color: rgb(104, 117, 217);
          border: rgb(104, 117, 217);
          color: white;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          padding: 0.75em 0.75em;
          margin: 1em;
        
          &:hover {
              cursor: pointer;          
                outline: 4px solid rgb(12 30 164 / 87%);
                transition: outline 0.1s ease-in-out;
            }
          
        } 
        .modal-actions {
          display: flex;
          justify-content: center;
          border-top: 1px solid #ccc;
          background: #eee;
          padding: 0.5rem 1rem;
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
    
          .action-buttons {
            display:flex;
            //gap: 1em;
            padding-top: 1em;
            border: 0;
            border-radius: 5px; 
            font-size: 0.8rem;
            line-height: 1;
            &:hover {
                cursor: pointer;
            }
          }
        }
    }

}
}