$greenButton: rgb(39, 95, 88);
$sliderColor: rgb(104, 117, 217);
$sliderColorHover: rgb(104, 117, 217, 0.2);
$sliderTrackColor: #ddd;

* {
    margin: 0;
}
.register-title {
    font-size: 2em;
    padding-bottom: 0.5em; 
}

.registration-form {
    display: flex;    
    padding: 1em;
    min-width: 285px;
    justify-content: center;
    @media(max-width: 375px) {
        min-width: auto;
    }
    & .registration-error {
        color: red;
        padding-bottom: 0.5em;
    }
}
.form-row {
    padding-bottom: 0.5em;

    &.age-slider {
        margin-bottom: 2em;
        & .age-slider-title {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }
    }

    & .input-radio-title {
        margin-bottom: 0.3em;
    }
    & .input-group-radio {
        display: flex;
        column-gap: 0.5em;
        margin-bottom: 0.2em;        
        & .input-radio-buttons {
            display: flex;            
            column-gap: 0.5em;            
            & .radio-input{
                padding: 0.55em;                  
                border: 1px solid lightgrey;            
                border-radius: 12px;                
                width: 7.5em;
                &:hover {
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;  
                    background-color:rgb(216 232 229 / 60%);
                    transition: background-color 0.2s ease-in-out;
                }
            
                & label {
                    display: flex;                    
                    align-items: flex-end;
                    &:hover {
                        cursor: pointer;
                    }
                    & input {                        
                        appearance: none;
                        background-color: #fff;                        
                        margin-right: 0.5em;
                        font: inherit;
                        color: currentColor;
                        width: 1.15em;
                        height: 1.15em;
                        border: 0.15em solid rgb(128, 128, 128);
                        border-radius: 50%;
                        transform: translateY(-0.075em);                        
                        display: grid;
                        place-content: center;
                    }
                    & input[type="radio"]::before {
                        content: "";
                        width: 0.65em;
                        height: 0.65em;
                        border-radius: 50%;
                        transform: scale(0);
                        transition: 120ms transform ease-in-out;
                        box-shadow: inset 1em 1em rgb(128, 128, 128);
                    }
                    input[type="radio"]:checked::before {
                        transform: scale(1);
                      }
                    input[type="radio"]:hover {
                        color: $greenButton;                        
                        cursor: pointer;
                      }
                }
            }
        }
    }
}

.input-group {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    margin-bottom: 0.5em;
    gap: 0.25em;

    input {
        border: 1px solid lightgrey;
        border-radius: 5px;
        padding: 0.55em;
        font-size: 16px;
    }
}

.already-registered {
    padding-top: 1.5em;
    display: flex;
    align-items: center;
    column-gap: 1em;
}
.green-button {
    border-radius: 5px;
    border: 1px solid $greenButton;
    background: $greenButton;
    color: white;    
    padding: 0.5em 1.5em;
    width: 100%;
    &:hover {
        cursor: pointer;
        outline: 5px solid #54a58d;
        transition: outline 0.1s ease-in-out;
    }
    &:focus {
        outline: 2px solid $greenButton;
        outline-offset: 2px;
    } 
}
.white-button {
    border-radius: 5px;
    border: 1px solid rgb(39, 95, 88, 0.5);
    background: white;
    color: rgb(7,10,10,1);
    padding: 0.5em 1.5em;
    &:focus {
        outline: 2px solid $greenButton;
        outline-offset: 2px;
    }
    &:hover {
        cursor: pointer;
        outline: 5px solid #54a58d;
        transition: outline 0.1s ease-in-out;
    } 
}
.customSlider {
    max-width: 300px;
    margin: auto;
  }
  
  .customSlider-track {
    top: 8px;
    height: 4px;
    background: $sliderTrackColor;
  }
  
  .customSlider-track.customSlider-track-0 {
    background: $sliderColor;
  }
  .customSlider-thumb {
    height: 25px;
    line-height: 27px;
    width: 25px;
    top: -2px;
    text-align: center;
    background-color: rgb(104, 117, 217);
    color: white;
    font-weight: 700;
    border-radius: 50%;
    cursor: grab;
  }
  
  .customSlider-thumb:hover {
    box-shadow: 0 0 0 8px $sliderColorHover;
  }