$greenButton: rgb(39, 95, 88);
* {
    margin: 0;
}
    .register-title {
        font-size: 2em;
        padding-bottom: 0.5em; 
    }

.registration-form {
    display: flex;    
    padding: 1em;
}
.form-row {
    padding-bottom: 0.5em;
}


.input-group {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    //border: 1px solid red;
    margin-bottom: 0.5em;
    gap: 0.25em;

    input {
        border: 1px solid lightgrey;
        border-radius: 5px;
        padding: 0.55em;
        font-size: 16px;
    }
}

.already-registered {
    padding-top: 1.5em;
}
.green-button {
    border-radius: 5px;
    border: 1px solid $greenButton;
    background: $greenButton;
    color: white;    
    padding: 0.5em 1.5em;
    width: 100%;
    transition: 120ms all ease-in-out;
    &:hover {
        cursor: pointer;
        outline: 5px solid #54a58d;
    }
    &:focus {
        outline: 2px solid $greenButton;
        outline-offset: 2px;
    } 
}
.white-button {
    border-radius: 5px;
    border: 1px solid rgb(39, 95, 88, 0.5);
    background: white;
    color: rgb(7,10,10,1);
    padding: 0.5em 1.5em;
    margin-top: 0.5em;
    transition: 120ms all ease-in-out;
    &:focus {
        outline: 2px solid $greenButton;
        outline-offset: 2px;
    }
    &:hover {
        cursor: pointer;
        border: 1px solid rgb(39, 95, 88, 1);
        outline: 5px solid #54a58d;
    } 
}