.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    & .user-profile-title {
        text-align: center;
        padding-top: 0.5em; //<--need this?
    }
    & .card.user-profile-container {
        width: 50%;
        padding: 3em;
        display: flex;
        & .user-profile-header {            
            width: 100%;
            text-align: center;
            & button {
                margin-top: 0.5em
            }
        }
        & .user-profile-body {  
            padding-top: 1em;
            width: 100%;
            .user-update-form {
                display: flex;
                justify-content: center;
                & button {
                    margin-top: 2em;
                }
            }          
        }
    }
}