.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    & .user-profile-title {
        text-align: center;
        padding-top: 0.5em;
    }
    & .card.user-profile-container {
        width: 50%;
        padding: 3em;
        display: flex;
        & .user-profile-header {   
            & .menu-profile-image {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 1em;
                & img {
                    height: 100px;
                    width: 100px;
                    padding: 5px;
                }
            }
              &.edit {
                & img {
                    height: 72px;
                    width: 72px;
                    
                    &.selected-image {
                        outline: 2px dashed #642464;
                        border-radius: 30%;
                        padding: 5px;
                                                          
                    }
                    &:hover {
                        cursor: pointer;
                        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
                        //transition: box-shadow 0.1s ease-in-out;                        
                        border-radius: 30%;
                    }
                }
                @media (max-width: 949px) {
                    column-gap: 2em;
                }
                @media (max-width: 475px) {
                    column-gap: 1.5em;
                    & img {
                        height: 64px;
                        width: 64px;
                    }
                }
             }
            & button {
                margin-top: 0.5em
            }
        }
        & .user-profile-body {  
            padding-top: 1em;
            width: 100%;
            .user-update-form {
                display: flex;
                justify-content: center;
                & .form-row.profile-type {
                    display: flex;
                    column-gap: 0.5em;
                    margin-bottom: 0.5em;
                }
                & .form-row.age {
                    opacity: 0.75;
                    &.edit {
                        opacity: 1;
                    }                    
                }
                & label {
                    color: grey;
                }
                & input {
                    padding: 0.25em;
                }
                & button {
                    margin-top: 2em;
                }
                & .on-change-buttons {
                    display: flex;
                    column-gap: 1em;
                    & .cancel {
                        padding: 0.5em 1.25em;
                    }
                }
            }          
        }
    }
}