.card {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 0;
    margin-top: 1em;
    background-color: white;
    align-items: center;
    //box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border:1px solid lightgrey;
    border-radius: 10px;
    &.green-background {
        background-color:rgb(229, 239, 237);        
    }
}