.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #bacdd8;
    padding: 8px;
    //width: 60%;
    border-radius: 12px;
    margin: 0;
    //margin: auto;
    margin-top: 1em;    
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.card:last-child{
    margin-bottom: 2em;
}