.register-page {
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  margin-top: 6em;
  & .register-card {
    @media(max-width: 650px) {
      width: 95%;
    }
    @media(max-width: 750px) { 
        width: 80%;
    }
    @media(min-width: 751px) {
        width: 60%;
    }
  }  
}