.register-page {
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  margin-top: 6em;
  & .register-card {
      @media(max-width: 650px) {
        width: 95%;
    }
      @media(min-width: 651px) { 
        width: 60%;
    }   
  }  
}