$green: rgb(39, 95, 88);
.user-menu-wrap {
    position: absolute;
    top: 4em;
    right: 2em;
    width: 14em;
    height: 14em;
    //padding: 1em;
    //border: 1px solid lightgrey;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
    z-index: 100;
    //background-color: rgb(229, 239, 237);
    // @media (min-width: 1626px){
    //     right:400px;
    // }
    & .user-menu {
        display: grid;
        grid-template-rows: 1em 4.5em 8.5em;
        grid-template-areas: 
        "header"
        "profile"
        "nav";
        row-gap: 0.2em;
        & .user-menu-header {
            grid-area: header;
            //border: 1px solid red;
            display: flex;
            justify-content: end;
            //margin: 0.5em;
            margin-top: 0.3em;
            margin-right: 0.3em;
            & .close-user-menu {
                background-color: inherit;
                border: none;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        & .user-menu-name {
            grid-area: profile;
            display: flex;
            justify-content: center;
            padding-left: 0.75em;
            align-items: center;
            column-gap: 1em;
            //padding-top: 0.75em;
            padding-bottom: 0.1em;
            & .user-menu-profile {
                display: flex;
                flex-direction: column;
                row-gap: 0.2em;
                & .profile-username {
                    font-size: 1.3em;
                }
                & .profile-type {
                    font-size: small;
                    border: 2px solid darkgreen;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    width: 80%;
                    text-transform: uppercase;                    
                    font-size: 0.8em;
                    color: darkgreen;
                    padding: 0.2em;
                }
            }

        }
        & .user-menu-nav-option {
            //background-color: white;
            border-top: 1px solid lightgrey;
            padding-top: 0.5em;
            grid-area: nav;
            display: flex;
            flex-direction: column;
            align-items: center;            
            & .nav-option {
                padding: 10px;
            }
            & [class*="nav-option"]:hover {
                background-color: #54a58dab;
                border-radius: 5px;
                padding: 10px;                
            }
            & [class*="nav-option"]:focus {
                border-radius: 5px;            
                border: 2px solid $green;
                padding: 8px;
            }
            a {
                color: #000;             
                text-decoration: none;
             }
             & .nav-logout {
                border-radius: 5px;
                border: 1px solid $green;
                background-color: $green;
                color: white;                
                padding: 0.4em 1em;
                margin-top: 10px;
                &:hover{
                    cursor: pointer;
                    outline: 5px solid #54a58d;
                }
             }
        }
    }
    // .caret {
    //     position: relative;
    //   }
      
    //   .caret:before {
    //     content: '';
    //     position: absolute;
    //     top: -245px;
    //     left: 150px;        
    //     border-bottom: 14px solid white;
    //     border-left: 14px solid transparent;
    //     border-right: 14px solid transparent;
    //   }
      
    //   .caret:after {
    //     content: '';
    //     position: absolute;
    //     left: 100px;
    //     top: 100px;
    //     border-bottom: -86px solid #fff;
    //     border-left: -86px solid transparent;
    //     border-right: -86px solid transparent;
    //   }
}

